<IfModule mod_rewrite.c>
   # DirectoryIndex connect.php index.html index.php
    RewriteEngine on
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} |-f
    RewriteCond %{REQUEST_FILENAME} |-d
    RewriteRule ^(.+)index.php$ index.php?q=$1 [L,QSA]
    RewriteRule ^(.+)pReg.php$ app/Views/build/pReg.php?q=$1 [L,QSA]
    RewriteRule ^(.+)pAuth.php$ app/Views/build/pAuth.php?q=$1 [L,QSA]
    RewriteRule ^(.+)my.php$ app/Views/build/my.php?q=$1 [L,QSA]
    php_flag display_errors on
</IfModule>
AddDefaultCharset UTF-8q
AddCharset UTF-8 .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
Header set X-Content-Type-Options nosniff
